html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  font-weight: 400;
  color: hsl(229, 6%, 35%);
  background: hsl(0, 0%, 98%);
}

.header {
  text-align: center;
  margin: 5% 0 2% 0;
}

.thin {
  font-weight: 200;
  margin-bottom: 5px;
}

.strong {
  font-weight: 700;
  margin-top: 5px;
}

.container {
  font-size: 13px;
}

.cyanblock {
  height: 225px;
  width: 325px;
  border-top: 5px solid hsl(180, 62%, 55%);
  border-radius: 6px;
  box-shadow: 0 0 20px hsl(218, 22%, 86%);
  margin: 15px;
  padding: 10px 30px 0px 30px;
  background: white;
  position: relative;
}

.redblock {
  height: 225px;
  width: 325px;
  border-top: 5px solid hsl(0, 78%, 62%);
  border-radius: 6px;
  box-shadow: 0 0 20px hsl(218, 22%, 86%);
  margin: 20px 15px 15px 15px;
  padding: 10px 30px 0px 30px;
  background: white;
  position: relative;
}

.yellowblock {
  height: 225px;
  width: 325px;
  border-top: 5px solid hsl(34, 97%, 64%);
  border-radius: 6px;
  box-shadow: 0 0 20px hsl(218, 22%, 86%);
  margin: 15px;
  padding: 10px 30px 0px 30px;
  background: white;
  position: relative;
}

.blueblock {
  height: 225px;
  width: 325px;
  border-top: 5px solid hsl(212, 86%, 64%);
  border-radius: 6px;
  box-shadow: 0 0 20px hsl(218, 22%, 86%);
  margin: 15px;
  padding: 10px 30px 0px 30px;
  background: white;
  position: relative;
}

img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Flexbox start */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

@media (max-width: 400px) {

  body {
    max-width: 320px;
  }

  .container {
    /* max-width: 320px; */
    flex-wrap: wrap;
  }

  .cyanblock {
    order: 1;
  }

  .column {
    /* max-width: 320px; */
    order: 2;
    /* flex-direction: column; */
  }

  .blueblock {
    order: 3;
  }

}

/* @media all and (max-width: 800px) {

  .column {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .cyanblock {
    order: 1;
  }

  .blueblock {
    order: 2;
  }

} */
