html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.05em;
  color: hsl(229, 6%, 35%);
  background: hsl(0, 0%, 98%);
}

/* --- Header --- */

.header {
  margin: 0.9em;
  text-align: center;
}

.thin {
  font-weight: 200;
  margin-bottom: 0;
}

.strong {
  font-weight: 600;
  margin-top: 0;
}

/* --- Container --- */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container p {
  font-size: 0.9em;
}

.cyanblock,
.redblock,
.yellowblock,
.blueblock {
  height: 29vh;
  width: 80vw;
  border-radius: 6px;
  background: white;
  position: relative;
  margin: 0.8em;
  padding: 0.3em 2em;
}

.cyanblock {
  border-top: 5px solid hsl(180, 62%, 55%);
  box-shadow: 0 0 20px hsl(218, 22%, 86%);
}

.redblock {
  border-top: 5px solid hsl(0, 78%, 62%);
  box-shadow: 0 0 20px hsl(218, 22%, 86%);
}

.yellowblock {
  border-top: 5px solid hsl(34, 97%, 64%);
  box-shadow: 0 0 20px hsl(218, 22%, 86%);
  margin-top: 1.5em;
}

.blueblock {
  border-top: 5px solid hsl(212, 86%, 64%);
  box-shadow: 0 0 20px hsl(218, 22%, 86%);
}

img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px;
}

/* --- Footer --- */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* --- Responsive --- */

@media screen and (min-width: 768px) {

  .container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
  }

  .cyanblock,
  .redblock,
  .yellowblock,
  .blueblock {
    height: 29vh;
    width: 42vw;
  }

  .cyanblock {
    order: -2;
  }

  .blueblock {
    order: -1;
  }

  .column {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

}

@media screen and (min-width: 1100px) {

  .cyanblock,
  .redblock,
  .yellowblock,
  .blueblock {
    max-height: 275px;
    max-width: 375px;
  }

  .cyanblock, .blueblock {
    order: 0;
  }

  .container {
    align-items: center;
    margin-bottom: 5%;
  }

  .column {
    flex-direction: column;
    justify-content: center;
  }

  .header {
    margin: auto 30% 2% 30%;
  }

}

@media screen and (min-width: 1250px) {

  .header {
    margin: auto 30vw 8vh 30vw;
  }
}

@media screen and (min-width: 2500px) {

    .header {
    margin: auto 40vw 8vh 40vw;
  }
}

@media screen and (max-height: 620px) {

  img {
    display: none;
  }
}
